@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//--------------------colors---------------------
$orange: #fce38a;
$grey: #b3b3b3;
$red: #f38181;
$green: #95e1d3;
$lightgrey: #e5e5e5;
$almostwhite: #f8f8f8;
$darkgrey: #999999;

//--------------------GLOBAL---------------------
* {
  box-sizing: border-box;
}

body {
  font-family: 'montserratregular';
  overflow-x: hidden;
}

a {
  color: white;
  font-size: 12px;
  text-align: center;
}

//--------------------NAV-----------------------
 a.navbar-header {
   width: 100%;
 }

li {
  a {
    text-transform: uppercase;
  }
}

.navbar-toggle {
  border-color: white;
  .icon-bar {
    background-color: white;
  }
  &:hover {
    border-color: $orange;
    .icon-bar {
      background-color: $orange;
    }
  }
}

#overnavbar a {
  &:hover {
    color: $orange;
    background-color: inherit ;
  }
  &:focus {
    color: $orange;
    background-color: inherit ;
  }
}

.navbar-brand {
  font-family: 'montserratbold';
  font-size: 24px;
}

.search {
  display: none;
  margin-top: 6px;
  input {
    width: 150px;
    color: black;
  }
  .glyphicon-remove {
    color: $orange;
    &:hover {
      cursor: pointer;
    }
  }
}

//--------------------HEADER (banner)-----------------------
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  width: 100%;
}

.slide1 {
  background-image: linear-gradient(rgba(243,129,129,0.9),rgba(252,227,138,0.9)), url("images/banner/vulture.jpg");
  background-position: center bottom;
}

.slide2 {
  background-image: linear-gradient(rgba(243,129,129,0.8),rgba(252,227,138,0.8)), url("images/banner/bird2.jpg");
  background-position: center bottom;
}

.slide3 {
  background-image: linear-gradient(rgba(243,129,129,0.9),rgba(252,227,138,0.9)), url("images/banner/bird3.jpg");
  background-position: bottom left;
}

.slide4 {
  background-image: linear-gradient(rgba(243,129,129,0.8),rgba(252,227,138,0.8)), url("images/banner/bird4.jpg");
  background-position: bottom right;
}

.slide_element {
  display: none;
}

h2 {
  font-family: 'kaushan_scriptregular';
  font-size: 16px;
  margin-top: 15px;
}

h1 {
  font-family: 'montserratbold';
  font-size: 40px;
  max-width: 280px;
  margin: auto;
  &::after {
    content: "";
    background-color: white;
    width: 50px;
    height: 3px;
    display: block;
    margin: 10px auto 40px;
  }
}

.welcome {
  a {
    border: white solid 3px;
    padding: 10px 30px;
    &:hover {
      border: $orange solid 3px;
      color: $orange;
      text-decoration: none;
    }
  }

  .timer {
    height: 250px;
    .row {
      margin-top: 150px;
    }
    .time {
      height: 3px;
      width: 0;
      background: red;
      margin-bottom: -3px;
    }
  }
}

.time_text {
  text-align: left;
  font-size: 10px;
  padding-top: 10px;
  border-color: white;
  border-top: 3px rgba(255,255,255,0.6) solid;
  span {
    font-size: 16px;
    display: block;
  }
}

//-----------------------(about us)-------------------------
article {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.image-container {
  position: relative;
  margin-bottom: 15px;
  img {
    margin:auto;
  }
  .after {
    font-family: 'montserratbold';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    p {
      position: absolute;
      top: 53%;
      left: calc(50% - 47px);
    }
  }
  &:hover .after{
    display: block;
    background: url('images/about_us/users.png') no-repeat center center, linear-gradient(rgba(243,129,129,0.8),rgba(252,227,138,0.8));
    background-position: center top 47%;
  }
}

h4 {
  font-family: 'kaushan_scriptregular';
}

h3 {
  font-family: 'montserratbold';
  &::after {
    content: "";
    background-color: $red;
    width: 50px;
    height: 3px;
    display: block;
    margin: 30px auto 40px;
  }
}

.grey {
  color: $grey;
  margin-bottom: 80px;
}

//-----------------------(facts)----------------------------
.facts {
  background-color: $green;
}

.fact {
  text-align: center;
  width: 100%;
  &:not(:first-child) {
    border-top: 1px white solid;
  }
  p {
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    padding: 60px 0;
  }
  span {
    display: block;
    font-family: 'montserratbold';
    font-size: 60px;
  }
}

//-----------------------(service)--------------------------
.service {
  .row {
    &:not(:first-child) {
      margin-top: 30px;
      padding-top: 30px;
      border-top: $lightgrey 2px solid;
    }
  }

  img {
    float: left;
  }

  .text {
    text-align: left;
    padding-left: 50px;
  }

  h6 {
    font-family: 'montserratbold';
    text-transform: uppercase;
  }

  p {
    text-align: justify;
    color: $grey;
    font-size: 12px;
  }
}

//-----------------------(feature)--------------------------
.feature {
  padding-top: 70px;
  background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url("images/feature/feature.jpg") center center;
  margin-bottom: 100px;
}

.mobile {
  max-width: 100%;
  transform: translate(0,51px);
}

//-----------------------(service 2)------------------------
.photography {
  margin: auto;
  margin-bottom: 20px;
}

.panel-group {
  height: 200px;
  margin-bottom: 50px;

  a {
    display: flex;
    text-decoration: none;
  }

  img {
    text-align: left;
    padding: 12px;
  }

  p {
    text-transform: uppercase;
    font-family: 'montserratbold';
    text-align: left;
    height: 44px;
    width: 80%;
    padding: 20px;
  }

  .glyphicon {
    color: $grey;
    padding-top: 16px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;

  }
  .panel-body {
    font-family: 'robotoregular';
    font-style: italic;
    text-align: justify;
    color: $grey;
    line-height: 1.7em;
    height: 120px;
    overflow-y: scroll;
  }

  .panel {
    border-radius: 0;
  }

  .panel-collapse {
    border-top: 1px $lightgrey solid;
  }
}

//-----------------------(quote)----------------------------
.quote {
  background-color: $almostwhite;
  padding-top: 50px;
  padding-bottom: 40px;

  img {
    padding: 20px;
    margin-left: 60px;
    border: 3px $green solid;
    float: left;
  }
  .carousel-inner>.item>img {
    display: none;
  }

  .text {
    margin-left: 50px;
    margin-right: 50px;
    p {
      color: $grey;
      font-size: 20px;
      font-family: 'robotoregular';
      font-style: italic;
      font-weight: 100;
    }
    h6 {
      font-size: 20px;
      font-family: 'kaushan_scriptregular';
      font-weight: 600;
      &::before {
        content: "";
        background-color: $red;
        width: 50px;
        height: 3px;
        float: left;
        margin: 10px 10px 0 0;
      }
    }
  }

  .glyphicon {
    color: $grey;
    font-size: 20px;
    padding-top: 0;
    text-decoration: none;
  }
}

#over, #over2, #over3, #over4 {
  background: none;
  width: 20px;
}

//-----------------------(our team)-------------------------
.our {
  font-family: 'robotoregular';
  color: $grey;
  margin: auto;
  margin-bottom: 50px;
  width: 80%;
}

.after {
  img {
    margin-top: 210px;
    padding-left: 1px;
    &:hover {
      -webkit-filter: hue-rotate(180deg);
      filter: hue-rotate(180deg);
    }
  }

}
.ourteam{
  .image-container {
      &:hover .after {
      display: block;
      background: linear-gradient(rgba(243,129,129,0.8),rgba(252,227,138,0.8));
      background-position: center top 47%;
    }
  }
}

.author {
  font-family: 'montserratbold';
  text-transform: uppercase;
}

.job {
  font-family: 'robotoregular';
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  color: $grey;
}

//-----------------------(logos)----------------------------
.logos {
  background-color: $almostwhite;
  padding-top: 50px;
  padding-bottom: 50px;

  .col-sm-2 {
    text-align: center;
  }
}

//-----------------------(work)-----------------------------
.work {
  margin-bottom: 0;
  .grey, .roboto {
    font-family: 'robotoregular';
  }
  .roboto {
    font-style: italic;
  }
}

.images {
  max-width: 1920px;
  margin: auto;
  .col-sm-3 {
    padding: 0;
  }
}

.work-container {
  position: relative;
  img {
    margin:auto;
  }
  .after {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    p {
      line-height: 2em;
      position: absolute;
      top: 53%;
      left: calc(50% - 76px);
    }
  }
  &:hover .after{
    display: block;
    background: url('images/work/picture.png') no-repeat center center, linear-gradient(rgba(243,129,129,0.8),rgba(252,227,138,0.8));
    background-position: center top 44%;
  }
}

//-----------------------(testimonial)----------------------
.testimonial {
  background-color: $almostwhite;
  padding-bottom: 40px;

  img {
    padding: 20px;
    margin-left: 20px;
    display: none;
    float: left;
  }

  .text {
    margin-left: 50px;
    margin-right: 50px;
    p {
      font-family: 'robotoregular';
      line-height: 1.8em;
      font-size: 20px;
      font-style: italic;
      font-weight: 100;
      padding-top: 50px;
      margin: 0;
    }
    h6 {
      font-size: 20px;
      font-family: 'kaushan_scriptregular';
      font-weight: 600;
      &::before {
        content: "";
        background-color: $red;
        width: 50px;
        height: 3px;
        float: left;
        margin: 10px 10px 0 0;
      }
    }
  }

  .glyphicon {
    color: $grey;
    font-size: 20px;
  }
}

//-----------------------(what people say)------------------
.say {
  background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url("images/what_people_say/tabolerone.jpg") top center;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  margin-bottom: 100px;

  img {
    float: left;
    padding-right: 20px;
    margin-bottom: 100px;
  }
  .client {
    text-align: left;
  }

  .job {
    color: $darkgrey;
    &::after {
      content: "";
      background-color: $red;
      width: 50px;
      height: 3px;
      display: block;
      margin: 15px 0 15px 135px;
    }
  }

  .grey {
    font-family: 'robotoregular';
    font-size: 12px;
    text-align: justify;
    color: $darkgrey;
  }
}

//-----------------------(blog)-----------------------------
.blog {
  .container{
    text-align: left;
  }

  .grey {
    font-family: 'robotoregular';
    padding-bottom: 10px;
    border-bottom: 1px $lightgrey solid;
    margin-bottom: 0;
  }

  .img-responsive {
    margin: auto;
  }

  .calendar {
    text-align: center;
    background: $green;
    color: white;
    width: 80px;
    padding: 15px;
    margin-bottom: -80px;
    transform: translate(-15px,-108px);

    p {
      margin: 0;
      line-height: 1.2em;
    }

    .day {
      font-family: 'montserratbold';
      font-size: 40px;
    }

    .month {
      font-family: 'robotoregular';
      font-style: italic;
      font-weight: 100;
    }
  }

  .social {
    img {
      float: left;
      padding-top: 3px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    p {
      font-family: 'robotoregular';
      color: $grey;
      font-style: italic;
      font-weight: 100;
      padding-right: 20px;
      float: left;
      margin-bottom: 0;
    }
  }

  .col-sm-4 {
    margin-top: 40px;
  }
}

//-----------------------(map)------------------------------
.map {
  background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url("images/map/map.jpg") top center;
  padding-top: 50px;
  padding-bottom: 5px;
  margin-bottom: 0;
  a {
    color: $red;
    text-decoration: none;
    &:hover {
      color: red;
    }
  }
}

//-----------------------(footer)---------------------------
footer {
  background-color: $almostwhite;
  padding-top: 80px;

  h2 {
    font-family: 'montserratbold';
    font-size: 36px;
    color: #cccccc;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .grey {
    margin-bottom: 20px;
  }

  .followers {
    font-family: 'montserratbold';
    border-bottom: 1px $lightgrey solid;
    padding: 10px;
    span {
      font-size: 20px;
    }
  }

  .follow {
    font-style: italic;
    font-weight: 100;
    color: $grey;
    float: left;
    padding-top: 2px;
    margin: 0;
  }

  .social_media {
    margin-bottom: 30px;
    a {
      margin-left: 5px;
    }
  }

  .img-responsive {
    float: left;
    margin-right: 20px;
    padding-bottom: 20px;
  }

  .blog_link {
    margin-bottom: 28px;
    a {
      color: black;
      text-align: left;
    }
  }

  .title {
    min-height: 70px;
    font-size: 11px;
    padding-top: 0;
  }

  .date {
    color: $grey;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin-top: -20px;
  }

  .col-md-3 {
    max-width: 264px;
    margin: auto;
    padding-left: 0;
  }

  .author {
    margin-bottom: 10px;
  }

  .more_photos {
    font-family: 'robotoregular';
    color: $grey;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    padding-top: 15px;
    text-align: left;
  }

  .col-xs-4 {
    max-width: 88px;
  }
}

form {
  padding-top: 20px;
}

input {
  height: 40px;
  width: 45%;
  border: 1px $lightgrey solid;
  padding-left: 15px;
}

button {
  color: white;
  background-color: $green;
  border: none;
  padding: 10px 30px;
  margin-left: -5px;
}

::-webkit-input-placeholder {
  font-family: 'robotoregular';
  color: $lightgrey;
  font-style: italic;
  font-weight: 100;
}

.foot {
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  border-top: 1px $lightgrey solid;
  margin-top: 30px;

  span {
    font-family: arial;
    color: $red;
  }
}

//-----------------------responsive-------------------------
//-----------------------BIGGER ON MOBILE-------------------
@media only screen and (min-width: 430px) {
  h2 {
    font-size: 24px;
  }
  h1 {
    font-size: 50px;
    max-width: 340px;
  }

  .image-container {
    .after {
      left: calc((100% - 380px) /2);
      width: calc(100% - (100% - 380px));
    }
    &:hover .after{
      box-shadow: 10px 10px 0 $green;
    }
    &:hover {
      transform: translate(-10px, -10px);
      transition: 0.1s;
    }
  }

  .work-container {
    .after {
      left: calc((100% - 480px) /2);
      width: calc(100% - (100% - 480px));
    }
  }

  .say {
    img {
      margin-bottom: 80px;
    }
    .grey {
      padding-right: 20px;
    }
  }

  .blog {
    .calendar {
      margin-left: calc(100% / 2 - 190px)
    }
  }
}

//-----------------------TABLETS----------------------------
@media only screen and (min-width: 600px) {
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 60px;
    max-width: 400px;
  }

  .time_text {
    font-size: 16px;
    span {
      font-size: 24px;
      display: initial;
    }
  }

  .quote {
    .carousel-inner>.item>img {
      display: initial;
    }
    .text {
      margin-left: 200px;
    }
  }

  .testimonial {
    img {
      display: initial;
      width: 150px;
      padding-top: 80px;
    }
    .text {
      margin-left: 200px;
    }
  }
}

//-----------------------DESKTOP----------------------------
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
  h1 {
    font-size: 100px;
    max-width: 600px;
  }

  li a {
      margin-bottom: 50px;
  }
  #overnavbar a {
    &:hover {
      color: $orange;
      background-color: inherit ;
      padding-bottom: 2px;
      &::after {
        content: "";
        background-color: $orange;
        height: 3px;
        display: block;
        margin: 10px auto 0;
        width: 100%;
      }
    }
  }
  .welcome h1::after {
      margin: 20px auto 60px;
    }

  .image-container, .work-container {
    .after {
      left: 0;
      width: 100%;
    }
  }

  .facts {
    .fact {
      float: left;
      width: 20%;
      border-top: 0;
      &:not(:first-child) {
        border-left: 1px white solid;
      }
    }
  }

  .mobile {
    transform: translate(30px,51px);
  }

  .after {
    img {
      margin-top: 120px;
      height: 45px;
    }
  }

  .testimonial {
    padding-top: 50px;
    img {
      width: initial;
      padding-top: 20px;
    }
  }

  .blog {
    .calendar {
      margin-left: 0;
    }
  }

  form {
    padding-top: 0;
  }
}

//-----------------------HI RES----------------------------
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 60px;
    margin-top: 40px;
  }
  h1 {
    font-size: 120px;
    max-width: 600px;
  }

  .after {
    img {
      margin-top: 160px;
      height: initial;
    }
  }

  footer {
    .date {
      margin-top: 0;
    }
  }
}

//-----------------------HIGHEST RESOLUTION-----------------
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 80px;
    margin-top: 80px;
  }
  h1 {
    font-size: 140px;
    max-width: 800px;
  }

  .panel-group {
    .panel-body {
      height: 185px;
    }
  }

  .after {
    img {
      margin-top: 195px;
    }
  }

  .say {
    .grey {
      padding-right: 80px;
    }
  }

  .blog_link {
    margin-bottom: 45px;
  }

  .title {
    padding-top: 10px;
  }

  footer {
    .date {
      margin-top: -20px;
    }
  }
}
